<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro de Medicos</title>
</head>
<body>
    <h1>Cadastro de Medicos:</h1>
    <form method="post">
        Nome: <input type="text" value="" name="nome"/>
        Crm: <input type="text" value="" name="crm"/>
        Especialidade1: <input type="text" value="" name="especialidade1"/>
        Especialidade2: <input type="text" value="" name="especialidade2"/>
        TelefoneFixo: <input type="text" value="" name="telFixo"/>
        TelefoneCelular: <input type="text" value="" name="telCelular"/>
        Cep: <input type="text" value="" name="cep"/>
        Logradouro: <input type="text" value="" name="logradouro"/>
        Complemento: <input type="text" value="" name="complemento"/>
        Bairro: <input type="text" value="" name="bairro"/>
        Localidade: <input type="text" value="" name="localidade"/>
        Uf: <input type="text" value="" name="uf"/>

        <button type="submit"> Salvar </button>

    </form>
</body>
</html>